// ZombVival : EVOLUTION
// Main LESS file

@import (once) "modules/grid";
@import (once) "modules/mixins";
@import (once) "modules/log";
@import (once) "modules/buttons";
@import (once) "modules/progressbars";
@import (once) "modules/clock";
@import (once) "modules/boxes";
@import (once) "modules/stats";
@import (once) "modules/locationbox";
@import (once) "modules/tabs";
@import (once) "modules/news";
@import (once) "modules/map";
@import (once) "modules/license";

@zv-color-main: #670202;
@zv-color-secondary: #FFF6BF;

@zv-color-bg: @zv-color-secondary;
@zv-color-cream: #F5F5F5;

@zv-color-main-dark: darken(@zv-color-main,8%);
@zv-color-main-light: lighten(@zv-color-main,8%);

// Mixins
//noinspection CssNoGenericFontName
.font-awesome {font-family: FontAwesome}
.font-awesome-insert(@id; @dim: 16px;) {.font-awesome; position: absolute; height: @dim; width: @dim; content: @id; font-size: @dim;}