@import (once) "../zombvival";

@zv-color-main: #670024;
@zv-color-secondary: #e6ffce;
body {background: url(@zv-background) center center/cover no-repeat fixed @zv-background-color;}

#wrapper {box-shadow: 0 0 10px black}
#disclaimer {background: rgba(0,0,0,0.75); margin-top: 10px; border-radius: 5px;}

@buttons-main-background-color: #940136;
@buttons-main-border-color: #6c0430;

@zv-content-background-size: 180px;

@note-color-bg: #71f579;

@zv-band-color: #c8f59b;