h1 {
    font-family: 'Exo 2', sans-serif;
    margin: 0 0 10px 0;
    padding: 5px 0 5px 40px;
    background: #670202;
    background: linear-gradient(to right, rgb(103,2,2) 0%,rgb(103,2,2) 53%, rgb(148, 2, 2) 100%);
    color: rgb(255, 246, 191);
    text-shadow: 0 1px 0 #9d2a02, 0 -1px 0 #9d2a02, 1px 0 0 #9d2a02, -1px 0 0 #9d2a02, 1px 1px 0 #9d2a02, -1px -1px 0 #9d2a02, -1px 1px 0 #9d2a02, 1px -1px 0 #9d2a02;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

h1 > .fa {
    margin-right: 16px;
}

h2 {
    margin: 5px 0 10px 4px;
    color: #9d2a02;
    text-shadow: 0 0 3px rgba(0,0,0,0.4);
}

h2:first-child {
    margin-top: 0;
}

#content > h1:first-child::after {
    display: block;
    width: 910px;
    height: 5px;
    position: relative;
    top: 5px;
    left: -45px;
    background-color: #670202;
    content: " ";
    box-shadow: 0 0 2px black;
}

.help {
    background-color: #670202;
    padding: 10px;
    border-radius: 5px;
    text-align: justify;
    font-size: 13px;
    border: 2px solid #9d2a02;
    color: #ffb797;
}

.help h4 {
    margin: 9px 0;
    color: white;
    position: relative;
}

.help h4::before {
    color: white;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    content: "\f02d";
    margin-right: 12px;
}

.help h4::after {
    color: #FFF;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    content: "\f05a";
    margin-right: 12px;
    position: absolute;
    font-size: 128px;
    right: 0;
    opacity: 0.1;
    pointer-events: none
}

.mugshot {
    display: inline-block;
    background: white;
    box-shadow: 0 0 5px black;
    width: 104px;
    position: relative;
    border: 2px solid #dddddd;
    cursor: pointer;
}

.mugshot > img {
    height: 100px;
    width: 100px;
}

.mugshot:hover {
    background: #ffb797;
    border: 2px solid #d23c02;
}

.mugshot > span {
    display: block;
    font-size: 11px;
    text-align: center;
}

.mugshot .mugshot-head {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255,255,255,0.5);
    font-family: "Strait",sans-serif;
}

.mugshot .mugshot-fill {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    color: white;
    font-size: 30px;
    padding-top: 30px;
}

.mugshot .mugshot-append {
    font-weight: bold;
}

.inline-player {
    display: inline-block;
    white-space: nowrap;
    position: relative;
    background: #337b94;
    border: 1px solid #2c677e;
    color: #fff6bf;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.80);
    border-radius: 3px;
    box-shadow: 0 0 1px 1px rgba(140, 200, 210, 0.80) inset, 0 1px 0 rgba(0,0,0,.3);
    cursor: default;
    padding: 0 4px;
    margin: 2px;
}

.inline-player.red {
    background: #94311e;
    border: 1px solid #822a1e;
    box-shadow: 0 0 1px 1px rgba(210, 150, 138, 0.80) inset, 0 1px 0 rgba(0,0,0,.3);
}

.inline-player::before {
    font-family: FontAwesome;
    content: "\f007";
    margin-right: 3px;
}

.hotbox {
    border-radius: 4px;
    background: #fff9f6;
    border: 1px solid #f1ebe8;
    border-bottom: 4px solid #f1ebe8;
    margin: 3px;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    cursor: pointer;
    transition: background 250ms ease, border-color 500ms ease;
}

.hotbox:hover {
    background: #f5efec;
    border-color: #dcd6d3;
}

.hotbox:active {
    margin-top: 5px;
    border-bottom-width: 2px;
}

.hotbox > .head {
    display: block;
    color: #004352;
}

.hotbox > .subtitle {
    display: block;
    color: #7b7b7b;
    font-variant: small-caps;
}

ul.breadcrumbs {
    margin: 0;
    padding: 0;
    background: #ffbda1;
    border: 1px solid #e8ae92;
    min-height: 33px;
    box-shadow: 0 0 1px 1px rgba(255, 214, 219, 0.80) inset;
    font-family: "Exo 2",sans-serif;
}

ul.breadcrumbs:empty {
    opacity: 0;
}

ul.breadcrumbs > li {
    padding: 4px;
    display: inline-block;
    border: 1px solid rgba(255,255,255,0);
    position: relative;
    cursor: pointer;
}

ul.breadcrumbs > li:first-child {
    cursor: default;
}

ul.breadcrumbs > li:not(:first-child):hover {
    border: 1px solid rgba(255,255,255,0.3);
    background: rgba(255,255,255,0.2);
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.20) inset;
}

ul.breadcrumbs > li + li {
    margin-left: 16px;
    padding-left: -8px;
}

ul.breadcrumbs > li + li::before {
    position: absolute;
    left: -14px;
    font-family: FontAwesome;
    content: "\f101";
    pointer-events: none;
    font-size: 20px;
    color: white;
    text-shadow: 0 0 3px black;
}





