.row.iconize .cell > .fa {
    margin-top: 6px;
    font-size: 22px;
    color: #bc3402;
    display: block;
    text-align: center;
    text-shadow: 0 0 3px rgba(0,0,0,0.4);
}

.form_input {
    display: block;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-top: 4px;
    transition: all 0.1s;
    border: 1px solid #E0E0E0;
    border-bottom-width: 2px;
    border-image: none;
    background: none repeat scroll 0 0 #F8F8F8;
    position: relative;
    border-radius: 4px;
    padding: 4px;
}
textarea.form_input {
    resize: none;
}

input[type=checkbox].form_input {
    display: inline-block;
    width: auto;
}

.form_input:hover:not(.form_input-disabled):not([disabled]) {
    border-color: #CCC;
}

.form_input:focus:not(.form_input-disabled):not([disabled]) {
    border-color: #CCC;
    background: #F0F0F0;
}

.form_input > .fa {
    color: #bc3402;
    width: 16px;
    display: inline-block;
}

.form_input > input {
    border: none;
    background: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    width: calc(100% - 20px);
}

.form_input.form_input-disabled, .form_input[disabled], .form_input.disabled, .disabled .form_input {
    background: #e6e6e6;
    color: #808080
    pointer-events: none;
    cursor: not-allowed;
}

.tile {
    margin: 4px;
    display: inline-block;
}

.tile > i.fa {
    display: block;
    width: 96px;
    height: 96px;
    background: #940202;
    border: 1px solid #520202;
    padding: 0;
    color: #fff6bf;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.80);
    border-radius: 3px;
    box-shadow: 0 0 1px 1px rgba(210, 60, 2, 0.80) inset, 0 1px 0 rgba(0,0,0,.3);
    text-align: center;
    line-height: 96px;
    font-size: 72px;
    cursor: pointer;
}

.tile.disabled > i.fa, .disabled .tile > i.fa {
    background: #c8bcbd;
    color: #797979;
    box-shadow: 0 0 1px 1px rgba(188, 188, 188, 0.80) inset, 0 1px 0 rgb(200,200,200);
    text-shadow: 0 1px 0 rgba(245, 245, 245, 0.80);
    pointer-events: none;
    cursor: not-allowed;
    border: 1px solid #8a8a8a;
}

.tile:hover > i.fa {
     background: #bc3402;
 }
