body {
    margin: 0;
    padding: 24px 0 0;
    background: url('media/img/background.jpg') no-repeat scroll center top #100C0B;
    font-family: 'Open Sans', sans-serif;
}

#boot, #nojs {
    position: relative;
    background: rgba(72, 2, 2, 0.51);
    border: 1px solid #880202;
    padding: 40px;
    font-weight: bold;
    color: #fff6bf;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.80);
    border-radius: 10px;
    cursor: default;
    text-align: center;
    margin: 150px auto;
    width: 700px;
}

#boot > b, #nojs > b {
    display: block;
    font-size: 30px;
}

#boot > i.fa, #nojs > i.fa {
    display: block;
    font-size: 60px;
    margin: 10px;
    text-shadow: none;
}

#nojs > span {
    text-align: justify;
    display: block;
}

#nojs a {
    color: #fff6bf;
}

#navbar {
    height: 24px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #670202;
    border-bottom: 2px solid #520202;
    box-shadow: 0 0 5px black;
    z-index: 100;
}

#navbar > .navsection {
    display: inline-block;
    color: #fff6bf;
}

#navbar > .navsection.navtext {
    margin: 0 5px;
}

#navbar #main-menu {
    font-family: "Exo 2",sans-serif;
    font-weight: bold;
    font-variant: small-caps;
}

#navbar #main-menu > span {
    display:  inline-block;
    text-align: center;
    cursor: pointer;
    width: 150px;
}

#navbar #main-menu > span:hover {
    background: rgba(255,255,255,0.3);
    text-shadow: 0 0 3px black;
}

#notifications {
    position: fixed;
    width: 600px;
    z-index: 200;
    top: 30px;
    left: calc(50% - 300px);
    text-align: center;
    overflow: visible;
    pointer-events: none;
}

#notifications > div {
    background: #524d49;
    position: relative;
    display: block;
    text-align: justify;
    color: white;
    overflow: hidden;
    pointer-events: auto;
    box-shadow: 0 0 2px black;
    cursor: pointer;
}

#notifications > div + div {
    margin-top: 4px;
}

#notifications > div > div:first-child {
    height: 96px;
    width: 96px;
    background: #0066CC;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    text-align: center;
}
#notifications > div > div:first-child::after {
    font-family: FontAwesome;
    font-size: 76px;
}

#notifications > div > div:last-child {
    width: 600px;
    min-height: 96px;
    padding: 4px 4px 4px 100px;
}

#notifications > div > div:last-child > b.headline {
    display: block;
    font-weight: bold;
    margin-bottom: 4px;
    font-size: 18px;
    text-shadow: 0 0 2px #fffde6;
}

#notifications > div.smile > div:first-child {
    background: #ff6600;
    color: #100C0B;

}
#notifications > div.smile > div:first-child::after {
    content: "\f118";
}

#wrapper {
    padding: 0 0 90px;
    background: url('media/img/dunes.png') repeat-x scroll center bottom #FFF6BF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 0 auto;
    width: 900px;
    position: relative;
    overflow: hidden;
}

#wrapper > *:first-child {
    height: 111px;
    width: 100%;
    background: url('media/img/head.jpg');
    background-size: cover;
}

#wrapper > *:first-child::after {
    display: block;
    width: 910px;
    height: 5px;
    position: relative;
    top: 111px;
    left: -5px;
    background-color: #670202;
    content: " ";
    box-shadow: 0 0 2px black;
}

#content {
    padding: 5px 0;
    overflow: visible;
}

#disclaimer {
    margin: 0 auto;
    padding-top: 32px;
    width: 900px;
    font-size: 14px;
    text-align: center;
    font-family: "Strait",sans-serif;
    color: #A0A0A0;
}

#disclaimer b {
    color: #B06060;
    font-weight: bold;
}

#disclaimer i {
    color: #FFF;
}

#disclaimer i.min {
    color: #604040;
    font-size: 10px;
}

#disclaimer a {
    color: #906060;
    font-weight: bold;
    cursor: pointer;
}

.doc-blend {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.5)
}

#loader {
    display: inline-block;
    font-size: 50px;
    position: fixed;
    color: white;
}




