body {
    margin: 0;
    padding: 24px 0 0;
    background: url('media/img/background.jpg') no-repeat scroll center top #100C0B;
    font-family: 'Open Sans', sans-serif;
}

#static {
    transition: all 2s ease;
}

/*noinspection CssInvalidFunction,CssInvalidPropertyValue*/
#static.fade {
    transition: all 6s ease;
    -webkit-filter: contrast(300%) blur(30px) sepia(100%);
    filter: contrast(300%) blur(30px) sepia(100%);
    opacity: 0;
}

footer {
    text-align: center;
    padding: 20px 0;
    font-family: "Strait",sans-serif;
    color: #4b4b4b;
    font-size: 10px;
}

#boot, #nojs {
    position: relative;
    background: rgba(72, 2, 2, 0.51);
    border: 1px solid #880202;
    padding: 40px;
    font-weight: bold;
    color: #fff6bf;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.80);
    border-radius: 10px;
    cursor: default;
    text-align: center;
    margin: 150px auto;
    width: 700px;
}

#boot > b, #nojs > b {
    display: block;
    font-size: 30px;
}

#boot > i.fa, #nojs > i.fa {
    display: block;
    font-size: 60px;
    margin: 10px;
    text-shadow: none;
}

#nojs > span {
    text-align: justify;
    display: block;
}

#nojs a {
    color: #fff6bf;
}

#wrapper {
    padding: 0 0 90px;
    background: url('media/img/dunes.png') repeat-x scroll center bottom #FFF6BF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 0 auto;
    width: 900px;
    position: relative;
}

#wrapper > *:first-child {
    height: 111px;
    width: 100%;
    background: url('media/img/head.jpg') center top;
    background-size: cover;
}

#wrapper > *:first-child::after {
    display: block;
    width: 910px;
    height: 5px;
    position: relative;
    top: 111px;
    left: -5px;
    background-color: #670202;
    content: " ";
    box-shadow: 0 0 2px black;
    z-index: 90;
}

#persistent {
    position: fixed;
    width: 920px;
    padding: 0 10px;
    z-index: 95;
    top: 0;
    left: calc(50% - 460px);
    transition: background 300ms ease, box-shadow 350ms ease, border 120ms ease;
    margin-top: 35px;
}

#persistent::before, #persistent::after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    top: 100%;
    border-width: 3px 5px;
    border-style: solid;
    z-index: 80;
    opacity: 0;
    transition: opacity 300ms ease;
}

#persistent.float::before, #persistent.float::after {
    opacity: 1;
}

#persistent::before {
    left: 0;
    border-color: #7e1800 #7e1800 transparent transparent;
}

#persistent::after {
    right: 0;
    border-color: #7e1800 transparent  transparent #7e1800;
}

#persistent.float {
    background: #A42A00;
    box-shadow: 0 0 10px black;
}

#persistent:empty {
    opacity: 0;
    pointer-events: none;
 }

#content {
    padding: 5px 0;
    overflow: visible;
}

#disclaimer {
    margin: 0 auto;
    padding-top: 32px;
    width: 900px;
    font-size: 14px;
    text-align: center;
    font-family: "Strait",sans-serif;
    color: #A0A0A0;
}

#disclaimer b {
    color: #B06060;
    font-weight: bold;
}

#disclaimer i {
    color: #FFF;
}

#disclaimer i.min {
    color: #604040;
    font-size: 10px;
}

#disclaimer a {
    color: #906060;
    font-weight: bold;
    cursor: pointer;
}

.doc-blend {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.5)
}

#loader {
    display: inline-block;
    font-size: 50px;
    position: fixed;
    color: white;
}

.logo {
    background-size: contain;
    background-image: url('media/img/logo.png');
    background-repeat: no-repeat;
}


