* {
    box-sizing: border-box;
}

.row::after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

*:before, *:after {
    box-sizing: border-box;
}

#content > .row {
    margin: 5px 30px;
}

.row:before, .cell::before {
    content: " ";
    display: table;
    clear: both;
}

.row::after, .cell::after {
    clear: both;
}

.cell {
    display: inline-block;
    float: left;
}
.cell.padded {
    padding: 5px;
}

.row > .cell.rw-0  {width: 0.000000000%;}
.row > .cell.rw-1  {width: 08.33333333%;}
.row > .cell.rw-2  {width: 16.66666667%;}
.row > .cell.rw-3  {width: 25.00000000%;}
.row > .cell.rw-4  {width: 33.33333333%;}
.row > .cell.rw-5  {width: 41.66666667%;}
.row > .cell.rw-6  {width: 50.00000000%;}
.row > .cell.rw-7  {width: 58.33333333%;}
.row > .cell.rw-8  {width: 66.66666667%;}
.row > .cell.rw-9  {width: 75.00000000%;}
.row > .cell.rw-10 {width: 83.33333333%;}
.row > .cell.rw-11 {width: 91.66666667%;}
.row > .cell.rw-12 {width: 100.0000000%;}

.row > .cell.ro-0  {margin-left: 0.000000000%;}
.row > .cell.ro-1  {margin-left: 08.33333333%;}
.row > .cell.ro-2  {margin-left: 16.66666667%;}
.row > .cell.ro-3  {margin-left: 25.00000000%;}
.row > .cell.ro-4  {margin-left: 33.33333333%;}
.row > .cell.ro-5  {margin-left: 41.66666667%;}
.row > .cell.ro-6  {margin-left: 50.00000000%;}
.row > .cell.ro-7  {margin-left: 58.33333333%;}
.row > .cell.ro-8  {margin-left: 66.66666667%;}
.row > .cell.ro-9  {margin-left: 75.00000000%;}
.row > .cell.ro-10 {margin-left: 83.33333333%;}
.row > .cell.ro-11 {margin-left: 91.66666667%;}
.row > .cell.ro-12 {margin-left: 100.0000000%;}

.row-table.padded {
    margin: 5px;
}

.row-table.row-table-borders {
    border: 2px solid #520202;
    border-radius: 2px;
}

.row-table.row-table-striped > .row:nth-child(odd) {
    background: rgba(0, 0, 0, 0.10);
}

.row-table.row-table-interact > .row:hover, .row-table.row-table-interact > .row.selected {
    background: rgba(0, 0, 0, 0.19);
}

.row-table > .row:first-child {
    background: #520202 !important;
    color: white;
    font-weight: bold;
}