.location_box {
    box-shadow: 0 0 4px black;
    padding: 10px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.location_box > h2 {
    display: block;
    text-align: center;
}

.location_box.outside {
    background: url("media/img/location_outside.png") bottom no-repeat, linear-gradient(to bottom, #7fd2df 0%,#9dc6c9 50%);
    padding-bottom: 48px;
    color: black;
    text-shadow: 0 0 1px #ffffff;
    border-bottom: 4px solid #845b30;
}

.location_box.outside > h2 {
    border-bottom: solid 2px #61656d;
    color: #61656d;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.location_box.inside {
    background: url("media/img/location_inside.png") no-repeat, url("media/img/location_inside_floor.png") bottom repeat-x, linear-gradient(to bottom, #1b1d1d 0%, #121212 100%);
    color: white;
    text-shadow: 0 0 1px black;
    border-bottom: 4px solid #462d21;
    padding-bottom: 16px;
}

.location_box.inside > h2 {
    border-bottom: solid 2px #b2bcc5;
    color: #b2bcc5;
    text-shadow: 0 0 3px black, -1px -1px 0 rgba(255, 255, 255, 0.25);
}

.location_box .widget {
    border: 1px solid rgba(0,0,0,0.4);
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    position: relative;
    overflow: hidden;
    padding: 5px;
}

.location_box.outside .widget {
    background: #eaffff;
}

.location_box .radar, .location_box .siege {
    text-align: center;
    font-weight: bold;
    text-shadow: 0 0 4px rgba(0,0,0,0.4);
}

.location_box .radar:after, .location_box .siege:after {
    width: 100%;
    position: absolute;
    height: 3px;
    content: " ";
    bottom: 0;
    left: 0;
}

.location_box .widget.alert-0::after {
    background: #1582c6;
    box-shadow: 0 0 4px rgba(21, 130, 198, 0.51);
}
.location_box .widget.alert-1::after {
    background: #52c600;
    box-shadow: 0 0 4px rgba(82, 198, 0, 0.51);
}
.location_box .widget.alert-2::after {
    background: #f7e400;
    box-shadow: 0 0 4px rgba(247, 228, 0, 0.51);
}
.location_box .widget.alert-3::after {
    background: #eaac06;
    box-shadow: 0 0 4px rgba(234, 172, 6, 0.51);
}
.location_box .widget.alert-4::after {
     background: #ea4803;
     box-shadow: 0 0 4px rgba(234, 72, 3, 0.51);
}
.location_box .widget.alert-5::after {
    background: #af1900;
    box-shadow: 0 0 4px rgba(175, 25, 0, 0.51);
    animation: redflash 0.5s infinite alternate;
}
@keyframes redflash {
    from {
        background: #ea4803;
        box-shadow: 0 0 4px rgba(234, 72, 3, 0.51);
    }
    to {
        background: #af1900;
        box-shadow: 0 0 4px rgba(175, 25, 0, 0.51);
    }
}

.action_box {
    box-shadow: 0 0 4px black;
    padding: 5px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.action_box.inside {
    border-bottom: 4px solid #462d21;
    background: url("media/img/actions_inside.png")
}

.action_box.outside {
    border-bottom: 4px solid #b88452;
    background: url("media/img/actions_outside.png")
}

.inventory h3 {
    margin: 2px;
    padding: 0;
    text-align: center;
    color: rgba(217, 217, 217, 0.40);
    text-shadow: 1px 1px 0 black;
    font-size: 16px;
}

.inventory {
    border: 1px solid #f5f5f5;
    background: #ffffff;
    box-shadow: 0 0 4px black;
    padding-bottom: 8px;
}

.inventory b {
    font-size: 10px;
    border-bottom: 1px solid #ffcaa9;
    display: block;
    color: #ea4803;
    padding: 2px 8px 0;
}

.inventory ul {
    padding: 0;
    margin: 2px;
}

.inventory ul li {
    display: inline-block;
    list-style: none;
    padding: 2px;
    margin: 2px;
    position: relative;
    cursor: pointer;
    height: 22px;
}

.inventory ul li:hover {
    background: rgba(0,0,0,0.1);
}

.inventory ul li > .staticCount, .inventory ul li > .instanceCount {
    position: absolute;
    top: 14px;
    left: 14px;
    box-shadow: 0 0 2px rgba(0,0,0,0.4);
    font-size: 10px;
    padding: 1px 2px;
    font-weight: bold;
    color: white;
}

.inventory ul li > .staticCount {
    background: #1582c6;
}

.inventory ul li > .instanceCount {
    background: #c60054;
}

.inventory ul li.equipped {
    background: #56a1ff;
}

.inventory ul li.temp {
    border-bottom: 2px solid #e80000;
}

.inventory ul li.event {
    border-bottom: 2px solid #b70bed;
}

.inventory ul li.temp.event {
    animation: tmp_event 0.5s infinite alternate;
}

@keyframes tmp_event {
    from {
        border-bottom: 2px solid #e80000;
    }
    to {
        border-bottom: 2px solid #b70bed;
    }
}

div.consequence > .cell {
    text-align: center;
}

div.consequence i.separator {
    display: block;
    font-size: 10px;
}

div.consequence .group {
    display: inline-block;
    margin: 4px 2px 2px;
    padding: 3px;
    font-size: 10px;
}

div.consequence .group.green {
    border-top: 3px solid #8fea00;
}

div.consequence .group.red {
    border-top: 3px solid #ea4803;
}

div.consequence .group > span {
    display: inline-block;
    line-height: 16px;
    vertical-align: top;
}

div.consequence .group > img:not(.fake) + span {
    margin-left: 5px;
}

div.consequence .group > img.fake + span {
    margin: 0 3px;
}

.btn.btn-zv.btn-zv-skinned-hideout, .btn.btn-zv.btn-zv-skinned-hero, .btn.btn-zv.btn-zv-skinned-location {
    font-size: 12px;
}

.btn.btn-zv.btn-zv-skinned-hero:not(.disabled):not([disabled=disabled]):not(.btn-disabled) {
    font-size: 12px;
    background: #005694;
    border: 1px solid #001952;
    color: #fff6bf;
    box-shadow: 0 0 1px 1px rgba(12, 141, 210, 0.80) inset, 0 1px 0 rgba(0,0,0,.3);
}

.btn.btn-zv.btn-zv-skinned-hero:not(.disabled):not([disabled=disabled]):not(.btn-disabled):hover {
    background: #008be7;
    border: 1px solid #0042ca;
}

.bar {
    padding: 4px;
    border-bottom: 3px solid #c4c4c4;
    border-radius: 3px;
    background: linear-gradient(to bottom, #f2f2f2 0%,#e2e2e2 100%);
    margin: 4px;
}

.bar .background {
    display: inline-block;
    width: calc(100% - 20px);
    background: #dedede;
    border-top: 1px solid #a5a5a5;
    box-shadow: inset 0 0 3px rgba(165, 165, 165, 0.41);
    border-radius: 2px;
    height: 16px;
    float: right;
    overflow: hidden;
}

.bar .background > div:first-child {
    height: 16px;
}

.bar .background > div:first-child::after {
    height: 100%;
    content: " ";
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.15) 100%);
    display: block;
}

.bar > img.buff:not(:last-child), .bar > img.status:not(:last-child) {
    margin-right: 2px;
}

.bar > img.status + img.buff {
    padding-left: 2px;
    border-left: 2px solid #a5a5a5;
}

.statcalc > h4 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.statcalc > .row.line + .row.line {
    border-top: 1px solid rgb(184, 184, 184);
}

.statcalc > .row.line + .row.sum.line {
    border-top: 2px solid rgb(184, 184, 184);
}

.statcalc > .row.line > .cell {
    padding-left: 8px;
    padding-right: 8px;
}

.statcalc > .row.line > .cell > span {
    padding-left: 5px;
    padding-right: 5px;
}

.statcalc > .row.line > .cell.right > img {
    float: left;
}

.statcalc > .row.line > .cell.left > img {
    float: right;
}

.statcalc > .row.line:not(.sum) > .cell {
    padding-top: 2px;
    padding-bottom: 2px;
}

.statcalc > .row.line.sum > .cell {
    padding-top: 4px;
    padding-bottom: 4px;
    font-weight: bold;
}

.statcalc > .row.line:not(.sum) > .cell.right {
    background: rgba(192, 255, 201, 0.5);
}

.statcalc > .row.line:not(.sum) > .cell.left {
    background: rgba(255, 142, 144, 0.5);
}

.statcalc > .row.line.sum > .cell.right, .statcalc > .row.line.sum > .cell.center.positive {
    background: #c0ffc9;
}

.statcalc > .row.line.sum > .cell.left, .statcalc > .row.line.sum > .cell.center.negative {
    background: #ff8e90;
}

.statcalc.inverse > .row.line:not(.sum) > .cell.right {
    background: rgba(255, 142, 144, 0.5);
}

.statcalc.inverse > .row.line:not(.sum) > .cell.left {
    background: rgba(192, 255, 201, 0.5);
}

.statcalc.inverse > .row.line.sum > .cell.right, .statcalc.inverse > .row.line.sum > .cell.center.positive {
    background: #ff8e90;
}

.statcalc.inverse > .row.line.sum > .cell.left, .statcalc.inverse > .row.line.sum > .cell.center.negative {
    background: #c0ffc9;
}

div.popup {
    position: fixed;
    background: #ffeba5;
    border: 2px solid #e7d395;
    box-shadow: 0 0 15px black;
}

/*noinspection ALL*/
div.popup.disabled {
    filter: blur(2px) sepia(100%);
    -webkit-filter: filter: blur(2px) sepia(100%);
}

div.blueprint {
    border-radius: 4px;
    background: #fff9f6;
    border: 1px solid #f1ebe8;
    border-bottom: 4px solid #f1ebe8;
    margin: 3px;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    cursor: default;
    position: relative;
    overflow: hidden;
}

div.blueprint > div.ribbon {
    position: absolute;
    height: 0;
    width: 0;
    right: 0;
    top: 0;
    border-top: 32px solid #f1ebe8;
    border-left: 32px solid transparent;
    overflow: visible;
}

div.blueprint > div.ribbon::before {
    position: absolute;
    height: 32px;
    width: 32px;
    right: 0;
    top: -32px;
    content: "\f023";
    font-family: FontAwesome;
    padding: 5px;
    font-size: 10px;
    text-align: right;
}

div.blueprint.blue {
    background: #c5faff;
    border: 1px solid #72aef1;
    border-bottom: 4px solid #72aef1;
}

div.blueprint.blue > div.ribbon {
    border-top: 32px solid #72aef1;
}

div.blueprint.blue > div.ribbon::before {
    color: white;
    content: "\f14a";
}

div.blueprint.green {
    border: 1px solid #79f190;
    border-bottom: 4px solid #79f190;
}

div.blueprint.green.active {
    background: #ddffe2;
    cursor: pointer;
    transition: background 0.5s ease;
}

div.blueprint.green.active:hover {
    background: #a4ffb5;
}

div.blueprint.green.active:active {
    border-bottom: 1px solid #79f190;
    margin-top: 6px;
}

div.blueprint.green > div.ribbon {
    border-top: 32px solid #79f190;
}

div.blueprint.green > div.ribbon::before {
    color: white;
    content: "\f0a9";
}

div.blueprint.red {
    background: #ffddd8;
    border: 1px solid #f1b6c0;
    border-bottom: 4px solid #f1b6c0;
}

div.blueprint.red > div.ribbon {
    border-top: 32px solid #f1b6c0;
}

div.blueprint.red > div.ribbon::before {
    color: white;
    content: "\f05e";
}

div.blueprint > span:first-child {
    font-weight: bold;
    font-size: 12px;
}

div.blueprint > span:first-child > i {
    margin-right: 8px;
    margin-left: 8px;
    font-weight: normal;
    opacity: 0.8;
}

div.details .cell > i:first-child {
    font-size: 10px;
    opacity: 0.8;
    display: block;
}

div.details .group {
    display: inline-block;
    margin: 4px 2px 2px;
    padding: 3px;
    font-size: 13px;
}

div.details .group > img {
    margin-right: 3px;
}

div.details .group > span > b:first-child {
    font-size: 14px;
    font-weight: bold;
}

div.details .group > span > *:first-child.green {
    color: #005d0f;
}

div.details .group > span > *:first-child.red {
    color: #5d1a19;
}

div.point {
    display: block;
    margin-left: 32px;
    position: relative;
}

div.point::before {
    position: absolute;
    top: 0;
    left: -20px;
    height: 16px;
    width: 16px;
    content: " ";
    font-family: FontAwesome;
    text-align: center;
}

div.point.success {
    color: #005d0f;
}

div.point.success::before {
    color: #18dd00;
    content: "\f078";
}

div.point.failure {
    color: #5d000a;
}

div.point.failure::before {
    color: #dd0917;
    content: "\f00d";
}

canvas.map {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

div.map.location {
    position: absolute;
    height: 22px;
    width: 22px;
    padding: 2px;
    border-radius: 3px;
    border: 1px solid #975847;
    background: #e08761;
    z-index: 20;
    transition: background 0.2s ease, border 0.2s ease;
}

div.map.location:not(.active):not(.unreachable) {
    cursor: pointer;
}

div.map.location.active, div.map.location:not(.unreachable):hover {
    border: 1px solid #39ACE5;
    background: #69e7ff;
}

div.map.location.unreachable:hover {
    border: 1px solid #e35539;
    background: #ff846b;
}

div.map.location.travel {
    border: 1px solid #39ACE5;
    background: #dcfcff;
}

div.map.location.untravel {
    border: 1px solid #E3573B;
    background: #ffe3de;
}


div.map.panel {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    border: 1px solid #F5F5F5;
    background: #FFF;
    box-shadow: 0 0 4px #000;
    padding: 5px;
    margin: 0 4px;
}

div.map.panel h3 {
    margin: 2px 2px 4px;
    padding: 0 0 3px;
    text-align: center;
    color: rgba(217, 217, 217, 0.4);
    text-shadow: 1px 1px 0 #000;
    font-size: 16px;
    border-bottom: 1px solid #8c8c8c;
}

div.map.panel img + * {
    margin-left: 3px;
}

div.clockbox {
    background: rgba(102, 0, 0, 0.5);
    border: 2px solid #600;
    box-shadow: 0 0 3px #000;
    width: 100%;
    text-align: center;
    color: #FFF;
}

div.clockbox > .countdown > div {
    display: inline-block;
    position: relative;
}

div.clockbox > .countdown {
    font-size: 30px;
    font-weight: bold;
}

div.clockbox > .countdown > div + div {
    margin-left: 10px;
}

div.clockbox > .countdown > div + div:last-child {
    font-size: 13px;
    font-weight: normal;
}

div.clockbox > .countdown > div + div:not(:last-child)::before {
    content: ":";
    position: absolute;
    top: 0;
    left: -9px;
}

div.clockbox > .datebox {
    font-size: 12px;
}

div.clockbox > .datebox .fa {
    margin-right: 4px;
}