.inventory.disabled > * {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.inventory ul {
    padding: 0;
    margin: 2px;
}

.inventory ul li, div.item {
    display: inline-block;
    list-style: none;
    padding: 2px;
    margin: 2px;
    position: relative;
    height: 22px;
}

.inventory ul li.control {
    color: #95d68b;
    transition: color 0.4s ease;
}

.inventory.inventory_location ul li.control {
    float: left;
}

.inventory.inventory_player ul li.control {
    float: right;
}

.inventory ul li.control:hover {
    color: #2ce524;
}

.inventory ul li:not(.remote), div.item:not(.remote) {
    cursor: pointer;
}

.inventory ul li:not(.remote):not(.control):hover {
    background: rgba(0,0,0,0.1);
}

.inventory ul li > .staticCount, .inventory ul li > .instanceCount, div.item > .staticCount, div.item > .instanceCount {
    position: absolute;
    top: 14px;
    left: 14px;
    box-shadow: 0 0 2px rgba(0,0,0,0.4);
    font-size: 10px;
    padding: 1px 2px;
    font-weight: bold;
    color: white;
}

.inventory ul li > .staticCount, div.item > .staticCount {
    background: #1582c6;
}

.inventory ul li > .instanceCount, div.item > .instanceCount {
    background: #c60054;
}

.inventory ul li.equipped {
    background: #56a1ff;
}

.inventory ul li.temp {
    border-bottom: 2px solid #e80000;
}

.inventory ul li.event {
    border-bottom: 2px solid #b70bed;
}

.inventory ul li.disabled {
    filter: grayscale(100%);
    -webkit-filter: filter: grayscale(100%);
}

.inventory ul li.marked-target {
    animation: bubble 0.7s ease infinite alternate;
}

@keyframes bubble {
    from {transform: scale(1.0);}
    to {transform: scale(1.5);}
}


.inventory ul li.temp.event {
    animation: tmp_event 0.5s infinite alternate;
}

.inventory.inventory_action > span {
    display: inline-block;
    text-align: justify;
    margin: 5px;
}

.inventory.inventory_action > .btn {
    margin: 10px;
}


@keyframes tmp_event {
    from {
        border-bottom: 2px solid #e80000;
    }
    to {
        border-bottom: 2px solid #b70bed;
    }
}

div.consequence > .cell {
    text-align: center;
}

div.consequence i.separator {
    display: block;
    font-size: 10px;
}

div.consequence .group {
    display: inline-block;
    margin: 4px 2px 2px;
    padding: 3px;
    font-size: 10px;
}

div.consequence .group.green {
    border-top: 3px solid #8fea00;
}

div.consequence .group.red {
    border-top: 3px solid #ea4803;
}

div.consequence .group > span {
    display: inline-block;
    line-height: 16px;
    vertical-align: top;
}

div.consequence .group > img:not(.fake) + span {
    margin-left: 5px;
}

div.consequence .group > img.fake + span {
    margin: 0 3px;
}

div.popup {
    position: fixed;
    background: #ffeba5;
    border: 2px solid #e7d395;
    box-shadow: 0 0 15px black;
}

/*noinspection ALL*/
div.popup.disabled {
    filter: blur(2px) sepia(100%);
    -webkit-filter: filter: blur(2px) sepia(100%);
}

div.blueprint {
    border-radius: 4px;
    background: #fff9f6;
    border: 1px solid #f1ebe8;
    border-bottom: 4px solid #f1ebe8;
    margin: 3px;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    cursor: default;
    position: relative;
    overflow: hidden;
}

div.blueprint > div.ribbon {
    position: absolute;
    height: 0;
    width: 0;
    right: 0;
    top: 0;
    border-top: 32px solid #f1ebe8;
    border-left: 32px solid transparent;
    overflow: visible;
}

div.blueprint > div.ribbon::before {
    position: absolute;
    height: 32px;
    width: 32px;
    right: 0;
    top: -32px;
    content: "\f023";
    font-family: FontAwesome;
    padding: 5px;
    font-size: 10px;
    text-align: right;
}

div.blueprint.blue {
    background: #c5faff;
    border: 1px solid #72aef1;
    border-bottom: 4px solid #72aef1;
}

div.blueprint.blue > div.ribbon {
    border-top: 32px solid #72aef1;
}

div.blueprint.blue > div.ribbon::before {
    color: white;
    content: "\f14a";
}

div.blueprint.green {
    border: 1px solid #79f190;
    border-bottom: 4px solid #79f190;
}

div.blueprint.green.active {
    background: #ddffe2;
    cursor: pointer;
    transition: background 0.5s ease;
}

div.blueprint.green.active:hover {
    background: #a4ffb5;
}

div.blueprint.green.active:active {
    border-bottom: 1px solid #79f190;
    margin-top: 6px;
}

div.blueprint.green > div.ribbon {
    border-top: 32px solid #79f190;
}

div.blueprint.green > div.ribbon::before {
    color: white;
    content: "\f0a9";
}

div.blueprint.red {
    background: #ffddd8;
    border: 1px solid #f1b6c0;
    border-bottom: 4px solid #f1b6c0;
}

div.blueprint.red > div.ribbon {
    border-top: 32px solid #f1b6c0;
}

div.blueprint.red > div.ribbon::before {
    color: white;
    content: "\f05e";
}

div.blueprint > span:first-child {
    font-weight: bold;
    font-size: 12px;
}

div.blueprint > span:first-child > i {
    margin-right: 8px;
    margin-left: 8px;
    font-weight: normal;
    opacity: 0.8;
}

div.details .cell > i:first-child {
    font-size: 10px;
    opacity: 0.8;
    display: block;
}

div.details .group {
    display: inline-block;
    margin: 4px 2px 2px;
    padding: 3px;
    font-size: 13px;
}

div.details .group > img {
    margin-right: 3px;
}

div.details .group > span > b:first-child {
    font-size: 14px;
    font-weight: bold;
}

div.details .group > span > *:first-child.green {
    color: #005d0f;
}

div.details .group > span > *:first-child.red {
    color: #5d1a19;
}

div.point {
    display: block;
    margin-left: 32px;
    position: relative;
}

div.point::before {
    position: absolute;
    top: 0;
    left: -20px;
    height: 16px;
    width: 16px;
    content: " ";
    font-family: FontAwesome;
    text-align: center;
}

div.point.success {
    color: #005d0f;
}

div.point.success::before {
    color: #18dd00;
    content: "\f078";
}

div.point.failure {
    color: #5d000a;
}

div.point.failure::before {
    color: #dd0917;
    content: "\f00d";
}

div.log_box {
    margin-top: 30px !important;
    border-radius: 8px;
    background: whitesmoke;
    border: 1px solid #d9c6c6;
    box-shadow: 0 0 4px rgba(0,0,0,0.3);
    padding: 4px;
}

div.log_box > .message {
    padding: 5px 2px;
}

div.log_box > .message:not(.pointer) {
    cursor: default;
}


div.log_box > .message:first-child {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

div.log_box > .message:last-child {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

div.log_box > .message + .message {
    border-top: 1px solid #d3d3d3;
}


div.log_box > .message > .timestamp {
    display: inline-block;
    width: 80px;
    padding-left: 5px;
    text-align: center;
    position: relative;
    vertical-align: top;
    color: #9b9b9b;
}

div.log_box > .message > .timestamp.new::before {
    background: #680404;
    color: #fff6bf;
    position: absolute;
    top: 0;
    left: -15px;
    height: 24px;
    width: 24px;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    content: "\f12a";
    font-size: 22px;
    border-radius: 12px;
    pointer-events: none;
}


div.log_box > .message > .content {
    display: inline-block;
    width: calc(100% - 80px);
    padding-right: 10px;
    padding-left: 10px;
    position: relative;
}

div.log_box > .message.pointer > .content {
    padding-left: 20px;
}

div.log_box > .message.pointer > .content::before {
    position: absolute;
    top: 0;
    left: 3px;
    height: 24px;
    width: 24px;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    content: "\f0d7";
    font-size: 22px;
    pointer-events: none;
    color: #9b9b9b;
}

.achievement {
    height: 48px;
    width: 48px;
    position: relative;
    display: inline-block;
}

.achievement-missed {
    opacity: 0.5;
    filter: grayscale(100%);
    -webkit-filter: filter: grayscale(100%);
}

.achievement > img {
    position: absolute;
    left: 16px;
    top: 10px;
}

.achievement > span {
    position: absolute;
    font-family: "Exo 2",sans-serif;
    font-weight: bold;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 12px;
    left: 0;
    top: 28px;
}

.achievement-0 {background: url("media/img/achievement-bg/0.png")}
.achievement-1 {background: url("media/img/achievement-bg/1.png")}
.achievement-2 {background: url("media/img/achievement-bg/2.png")}
.achievement-3 {background: url("media/img/achievement-bg/3.png")}
.achievement-4 {background: url("media/img/achievement-bg/4.png")}
.achievement-5 {background: url("media/img/achievement-bg/5.png")}
.achievement-6 {background: url("media/img/achievement-bg/6.png")}