.article {
    border-radius: 4px;
    background: #fff9f6;
    border: 1px solid #f1ebe8;
    border-bottom: 4px solid #f1ebe8;
    margin: 3px;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.article + .article {
    margin-top: 8px;
}

.article + *:not(.article) {
    margin-top: 24px;
}

.article img {
    max-width: 100%;
}

.article > div {
    padding-left: 10px;
    padding-right: 10px;
}

.article > div:not(:last-child) {
    border-bottom: 2px solid #f1ebe8;
}

.article > div:not(:first-child):not(:last-child) {
    padding-top: 9px;
}

.article > div:first-child {
    color: #8b8182;
    text-align: center;
}

.article > div:last-child {
    color: #8b8182;
    text-align: right;
}

.article > div:last-child > span + span {
    margin-left: 12px;
}

.article > div:first-child > h3 {
    margin: 3px;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    font-size: 20px;
}

.article > div:first-child > span {
    font-variant: small-caps;
    font-size: 10px;
}

.article > div:first-child > span > b {
    font-size: 13px;
    font-weight: bold;
}
