.qtip-custom-help {
    padding: 10px;
    background: linear-gradient(to bottom, rgba(109,0,25,1) 0%,rgba(72,2,2,1) 100%);
    border: 3px solid #480202;
    box-shadow: 0 0 10px black;
}

.qtip-custom-help .qtip-content {
     text-align: justify;
 }

.qtip-custom-ingame {
    max-width: 360px;
}

.qtip-custom-ingame .qtip-content {
    text-align: justify;
    font-size: 14px;
    line-height: 18px;
}

.qtip-custom-ingame .qtip-content b.header {
    display: block;
    margin-bottom: 7px;
    border-bottom: 1px solid #F1D031;
    text-align: center;
    font-size: 14px;
}

.qtip-custom-ingame .qtip-content span.separator {
    display: block;
    margin-top: 4px;
    margin-bottom: 4px;
    background: #F1D031;
    height: 1px;
    overflow: hidden;
}

.qtip-custom-ingame .qtip-content .note {
    font-size: 12px;
    color: #878b93;
    line-height: 12px;
    padding-left: 12px;
}