.noclick {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.hidden {
    display: none;
}

.disabled {
    pointer-events: none;
    cursor: default;
}

*[disabled] {
    pointer-events: none;
    cursor: default;
}

.pointer {
    cursor: pointer;
}

.link {
    text-decoration: underline;
    color: #940202;
    cursor: pointer;
}

.small {
    font-size: 12px;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
     text-align: right;
 }

.justify {
      text-align: justify;
}

.resize-v {
    resize: vertical;
}

.resize-h {
    resize: horizontal;
}

.resize-hv, .resize-vh, .resize-both, .resize, .resize-h.resize-v {
    resize: both;
}

.resize-none {
    resize: none;
}