@import (once) "../zombvival";

@help-color-bg: @zv-color-main;
@help-color-border: @zv-color-main-light;
@help-color-text-main: lighten(@zv-color-main,70%);
@help-color-text-head: white;

.help {
  background-color: @help-color-bg; padding: 10px; border-radius: 5px; text-align: justify; font-size: 13px; border: 2px solid @help-color-border; color: @help-color-text-main; overflow: hidden;
  h4 {
    margin: 9px 0; color: @help-color-text-head; position: relative;
    &::before, &::after {.font-awesome; color: @help-color-text-head; display: inline-block; font-style: normal; font-weight: normal; line-height: 1; margin-right: 12px;}
    &::before {content: "\f02d";}
    &::after  {content: "\f05a"; position: absolute; font-size: 128px; right: 0; opacity: 0.1; pointer-events: none}
  }
}

@note-color-bg: #F5D88F;
@note-color-border: darken(@note-color-bg, 5%);
@note-color-text-main: #6a5432;
@note-color-text-head: white;

.note {
  background-color: @note-color-bg; padding: 3px 3px 3px 20px; position: relative; display: block; text-shadow: none;
  border-radius: 5px; text-align: justify; font-size: 13px; border: 2px solid @note-color-border; color: @note-color-text-main;
    &::after  {.font-awesome; color: @note-color-text-head; display: inline-block; font-style: normal; font-weight: normal; line-height: 1; content: "\f05a"; font-size: 18px; position: absolute; top: 1px; left: 1px;}
}

@whitebox-color-bg: #fafafa;
@whitebox-color-border: #e9e9e9;

//noinspection CssOverwrittenProperties
.colorbox(@inner, @outer) {border-radius: 4px; background: @inner; .incomplete-border-definition(1px solid @outer, true, true, false, true); border-bottom: 4px solid @outer; box-shadow: 0 4px 8px rgba(0,0,0,0.3);}
.whitebox(@darkness: 0%; @border-darkness: @darkness) {.colorbox(darken(@whitebox-color-bg, @darkness), darken(@whitebox-color-border, @border-darkness));}

.impactbox(@border-color, @base-color) {border-radius: 5px; background: @base-color; border: 1px solid @border-color; border-bottom: 4px solid @border-color; box-shadow: 0 2px 2px rgba(0, 0, 0, 0.8);}

@playerbox-npc-dark: #26445a;
@playerbox-npc-main: #346185;
@playerbox-npc-light: #5f7785;

.playerbox {
  &.escort {
    &:not(.npc)   {.impactbox(@zv-color-main, @zv-color-main-light)}
    &.npc         {.impactbox(@playerbox-npc-main, @playerbox-npc-light)}
  }
  &.unknown {
    .impactbox(@whitebox-color-border, @whitebox-color-bg);
    > b {color: @zv-color-main}
  }
  &:not(.escort):not(.unknown) {
    &:not(.npc)   {.impactbox(@zv-color-main-dark, @zv-color-main)}
    &.npc         {.impactbox(@playerbox-npc-dark, @playerbox-npc-main)}
  }

  >b {display: block; font-size: 16px; color: @zv-color-secondary; text-align: center; padding: 5px;}
}

@mugshot-dimensions: 100px;
@mugshot-color-hover-bg: #ffb797;
@mugshot-color-hover-border: #d23c02;
@mugshot-color-animation: @mugshot-color-hover-border;

.mugshot {
  .whitebox; display: inline-block; width: @mugshot-dimensions + 4; position: relative; cursor: pointer; margin: 3px; padding: 1px; transition: background 250ms ease, border-color 500ms ease;
  //noinspection CssOverwrittenProperties
  &:hover {background: @mugshot-color-hover-bg; border: 1px solid @mugshot-color-hover-border; border-bottom: 4px solid @mugshot-color-hover-border;}
  .mugshot-fill {position: absolute; top: 0; left: 0; height: 100%; width: 100%; background: fade(@whitebox-color-bg, 50%); color: @mugshot-color-animation; text-shadow: 0 0 2px black; font-size: 30px; padding-top: 30px;}
  .mugshot-append {font-weight: bold;}
  >img {height: @mugshot-dimensions; width:@mugshot-dimensions;}
  >span {display: block; font-size: 11px; text-align: center;}
}

@valrow-color-bg: @zv-color-main;
@valrow-color-border: @zv-color-main-light;
.value-box-light {background: @valrow-color-bg; margin: 10px; border: 2px solid @valrow-color-border; border-radius: 2px; box-shadow: 0 0 3px rgba(0,0,0,1); position: relative; color: @zv-color-secondary;}
.value-box {
  .value-box-light;
  .row {
    background: @valrow-color-bg; position: relative; z-index: 2;
    .cell > b:first-child {font-family: "Strait",sans-serif; font-size: 20px;}
  }
  &::before, &::after {display: block; position: absolute; content: " "; height: 50%; width: 40%; bottom: 0; background: transparent; box-shadow: -10px 10px 50px black; z-index: 1}
  &::before {right: 0; transform: rotate( 5deg) translate(-10px,-15px) skew( 9deg, 0deg)}
  &::after {left: 0;   transform: rotate(-5deg) translate( 10px,-15px) skew(-9deg, 0deg)}
}

.fillbox {
  .whitebox; height: 24px; width: 24px; padding: 2px; display: inline-block; margin: 4px;
  &.fillbox-filled {
    &:not(.fillbox-fixed) {background: url('media/icons/items/water_variant.gif') center no-repeat @whitebox-color-bg; cursor: pointer}
    &.fillbox-fixed {background: url('media/icons/items/water_grey.gif') center no-repeat @whitebox-color-bg}
  }
}

@itembox-font-color: inherit;

.itembox {
  .whitebox; padding: 2px; display: inline-block; margin: 4px; color: @itembox-font-color;
  >img+span {margin-left: 4px; font-size: small}
}

@hint-color-bg: #18191E;
@hint-color-border: lighten(@hint-color-bg, 10%);
@hint-color-text: white;

#hint {
  &:empty {display: none}
  position: fixed; bottom: 10px; left: 10px; right: 10px; text-align: center; padding: 10px; box-shadow: 0 0 10px black; background: @hint-color-bg; border: 2px solid @hint-color-border; color: @hint-color-text;
  >.btn {margin-top: 10px;}
}

@flatbox-color-text: black;
@flatbox-color-bg: white;
@flatbox-color-border: #f5f5f5;
@flatbox-color-header-text: black;
@flatbox-color-header-shine: #D9D9D9;
@flatbox-color-bold: #ea4803;
@flatbox-color-bold-sub: #404346;

.flatbox {
  border: 1px solid @flatbox-color-border; background: @flatbox-color-bg; box-shadow: 0 0 4px black; padding-bottom: 8px; color: @flatbox-color-text;
  h3 {margin: 2px; padding: 0; text-align: center; color: fade(@flatbox-color-header-shine, 40%); text-shadow: 1px 1px 0 @flatbox-color-header-text; font-size: 16px;}
  h4 {margin: 2px; padding: 0; text-align: center; color: mix(@flatbox-color-header-shine,@flatbox-color-header-text,40%); font-size: 14px;}
  >b,.row>b,.cell>b,.cell-small>b {font-size: 10px; border-bottom: 1px solid mix(@flatbox-color-bold, @flatbox-color-bg, 30%); display: block; color: @flatbox-color-bold; padding: 2px 8px 0;}
  >b.sub,.row>b.sub,.cell>b.sub,.cell-small>b.sub {font-size: 10px; border-bottom: 1px solid mix(@flatbox-color-bold-sub, @flatbox-color-bg, 30%); display: block; color: @flatbox-color-bold-sub; padding: 2px 8px 0;}
  p {margin: 5px 10px;}
  +.inventory{margin-top: 5px}

  .flatbox {box-shadow: none; border: 1px solid @flatbox-color-bg; background: darken(@flatbox-color-bg, 5%)}
}

.license {.whitebox;}

.toolbox {
  .whitebox;
  &>.row.tools {
    margin-top: 10px; padding-bottom: 10px; padding-top: 6px; background: mix(@whitebox-color-bg, @zv-color-main, 80%);
    &>.cell {
      color: @zv-color-main-dark;
      &.disabled {opacity: 0.3}
    }
  }
}

@hotbox-title-color: #004352;
@hotbox-subtitle-color: #7b7b7b;

.hotbox {
  .whitebox; .no-select;
  margin: 3px; padding: 5px; cursor: pointer; transition: background 250ms ease, border-color 500ms ease; vertical-align: bottom;
  &:hover {.whitebox(5%)}
  &.active {.colorbox(@zv-color-main, @zv-color-main-dark)}
  &.active:hover {.colorbox(lighten(@zv-color-main, 10%), lighten(@zv-color-main-dark, 10%))}
  &:active {margin-top: 5px !important; border-bottom-width: 2px !important;}

  >.head {display: block; color: @hotbox-title-color;}
  >.subtitle {display: block; color: @hotbox-subtitle-color; font-variant: small-caps;}
  &.disabled>.head {
    padding-left: 24px; position: relative;
    &::before {.font-awesome-insert('\f023'; 24px;); left: 0; top: 0;}
  }
}

@player-badge-blue-inner: #337b94;
@player-badge-blue-outer: #2c677e;
@player-badge-blue-shine: #8cc8d2;

@player-badge-red-inner: #94311e;
@player-badge-red-outer: #822a1e;
@player-badge-red-shine: #d2968a;

@player-badge-green-inner: #49944a;
@player-badge-green-outer: #62825e;
@player-badge-green-shine: #b1d2a3;

.inline-entity(@symbol) {
  display: inline-block; white-space: nowrap; position: relative; background: @player-badge-blue-inner; border: 1px solid @player-badge-blue-outer; font-weight: normal;
  color: @zv-color-secondary; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.80); border-radius: 3px; box-shadow: 0 0 1px 1px fade(@player-badge-blue-shine, 80%) inset, 0 1px 0 rgba(0,0,0,.3);
  cursor: default; padding: 0 4px; margin: 2px;

  &::before {font-family: FontAwesome; content: @symbol; margin-right: 3px;}

  &.red {background: @player-badge-red-inner; border: 1px solid @player-badge-red-outer; box-shadow: 0 0 1px 1px fade(@player-badge-red-shine, 80%) inset, 0 1px 0 rgba(0,0,0,.3);}
  &.green {background: @player-badge-green-inner; border: 1px solid @player-badge-green-outer; box-shadow: 0 0 1px 1px fade(@player-badge-green-shine, 80%) inset, 0 1px 0 rgba(0,0,0,.3);}
}

.inline-player {.inline-entity("\f007")};
.inline-npc {.inline-entity("\f085")};

.framed {
  border: 6px solid @zv-color-main-dark; box-shadow: 0 0 5px black, inset 0 0 5px black;border-radius: 5px; position: relative;
  &::after {position: absolute; top: 0; left: 0; height: 100%; width: 100%; content: " "; background: none; border: 1px solid rgba(0,0,0,0.3);}
  &.cream {border: 6px solid @zv-color-secondary;}
  &.main {border: 6px solid @zv-color-main;}

  &.mini {border-width: 2px}
}

.tile {
  margin: 4px; display: inline-block;
  .btn;

  >i.fa {
    display: block; width: 96px; height: 96px; padding: 0; color: @zv-color-secondary;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.80);
    text-align: center; line-height: 96px; font-size: 72px; cursor: pointer;
  }

}