@import (once) "../zombvival";

// Font definition
@font-face {
  font-family: 'Exo 2'; font-style: normal; font-weight: 400;
  src: local('Exo 2'), local('Exo2-Regular'), url(fonts/exo2.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans'; font-style: normal; font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(fonts/opensans.woff) format('woff');
}
@font-face {
  font-family: 'Strait'; font-style: normal; font-weight: 400;
  src: local('Strait'), local('Strait-Regular'), url(fonts/strait.woff) format('woff');
}