@import (once) "../zombvival";

// Grid Classes
* {
  box-sizing: border-box;
  &::before,&::after {box-sizing: border-box;}
}

.grid(@n;@class:'';@i:0) when (@i = 0) and (@class = '') {
  &.rw-@{i} {display: none}
  &.ro-@{i} {margin-left: 0;}
  .grid(@n, @class, (@i + 1))
}
.grid(@n;@class:'';@i:0) when (@i <= @n) and (@class = '') {
  &.rw-@{i} {width: (@i * 100% / @n);}
  &.ro-@{i} {margin-left: (@i * 100% / @n);}
  .grid(@n, @class, (@i + 1))
}
.grid(@n;@class:'';@i:0) when (@i = 0) and not (@class = '') {
  &.rw-@{class}-@{i} {display: none}
  &.ro-@{class}-@{i} {margin-left: 0;}
  .grid(@n, @class, (@i + 1))
}
.grid(@n;@class:'';@i:0) when (@i <= @n) and not (@class = '') {
  &.rw-@{class}-@{i} {width: (@i * 100% / @n);}
  &.ro-@{class}-@{i} {margin-left: (@i * 100% / @n);}
  .grid(@n, @class, (@i + 1))
}

@row-icon-color: @zv-color-main-light;

.row {
  &::before, &::after {content: " "; clear: both;}
  &::before { display: table;}
  &::after {display: block; height: 0;}
  >.cell,.cell-small {
    display: inline-block; float: left;
    &.padded {padding: 5px;}
    &.smallpad {padding: 2px;}
    &.nopad {padding: 0}
    &::before, &::after {clear: both;}
    &::before {content: " "; display: table;}
  }
  >.cell {.grid(12)}
  >.cell-small {.grid(24)}

  &.iconize > .cell > .fa {margin-top: 6px; font-size: 22px; color: @row-icon-color; display: block; text-align: center; text-shadow: 0 0 3px rgba(0,0,0,0.4);}
}

#content > .row {margin: 5px 30px;}

@table-marking-color: @zv-color-main-dark;

.row-table {
  background: @zv-content-background-color;
  &.padded {margin: 5px;}
  &.row-table-borders {border: 2px solid @zv-color-main-dark; border-radius: 2px;}
  &.row-table-striped > .row:nth-child(odd) {background: darken(@zv-content-background-color, 5%)}
  &.row-table-interact > .row:hover:not(.marked), .row-table.row-table-interact > .row.selected:not(.marked) {background: darken(@zv-content-background-color, 10%);}
  > .row:first-child {background: @zv-color-main-dark !important; color: white; font-weight: bold;}
  > .row.marked {color: @table-marking-color; font-weight: bold}
}
