@import (once) "zombvival";

// Grid Classes
* {
  box-sizing: border-box;
  &::before,&::after {box-sizing: border-box;}
}

.grid(@n;@class:'';@i:0) when (@i = 0) and (@class = '') {
  &.rw-@{i} {display: none}
  &.ro-@{i} {margin-left: 0;}
  .grid(@n, @class, (@i + 1))
}
.grid(@n;@class:'';@i:0) when (@i <= @n) and (@class = '') {
  &.rw-@{i} {width: (@i * 100% / @n);}
  &.ro-@{i} {margin-left: (@i * 100% / @n);}
  .grid(@n, @class, (@i + 1))
}
.grid(@n;@class:'';@i:0) when (@i = 0) and not (@class = '') {
  &.rw-@{class}-@{i} {display: none}
  &.ro-@{class}-@{i} {margin-left: 0;}
  .grid(@n, @class, (@i + 1))
}
.grid(@n;@class:'';@i:0) when (@i <= @n) and not (@class = '') {
  &.rw-@{class}-@{i} {width: (@i * 100% / @n);}
  &.ro-@{class}-@{i} {margin-left: (@i * 100% / @n);}
  .grid(@n, @class, (@i + 1))
}

.row {
  &::before, &::after {content: " "; clear: both;}
  &::before { display: table;}
  &::after {display: block; height: 0;}
  >.cell,.cell-small {
    display: inline-block; float: left;
    &.padded {padding: 5px;}
    &.smallpad {padding: 2px;}
    &.nopad {padding: 0}
    &::before, &::after {clear: both;}
    &::before {content: " "; display: table;}
  }
  >.cell {.grid(12)}
  >.cell-small {.grid(24)}
}

#content > .row {margin: 5px 30px;}

.row-table {
  &.padded {margin: 5px;}
  &.row-table-borders {border: 2px solid @zv-color-main-dark; border-radius: 2px;}
  &.row-table-striped > .row:nth-child(odd):not(.marked) {background: darken(@zv-color-bg, 5%)}
  &.row-table-interact > .row:hover:not(.marked), .row-table.row-table-interact > .row.selected:not(.marked) {background: darken(@zv-color-bg, 10%);}
  > .row:first-child {background: @zv-color-main-dark !important; color: white; font-weight: bold;}
  > .row.marked {background: mix(@zv-color-main-dark, @zv-color-bg, 30%)}
  &.row-table-striped > .row:nth-child(odd).marked {background: mix(@zv-color-main-dark, darken(@zv-color-bg, 5%), 30%)}
  &.row-table-interact > .row:hover.marked, .row-table.row-table-interact > .row.selected:not(.marked) {background: mix(@zv-color-main-dark, darken(@zv-color-bg, 10%), 30%)}
}