@import (once) "../zombvival";

canvas.map {position: absolute; top: 0; left: 0; bottom: 0; right: 0;}

div.map-header {position: absolute; left: 0; top: 20px; width: 100%; text-align: center; pointer-events: none; opacity: 0.3; font-variant: small-caps; font-size: 36px;}
div.map-close {position: absolute; right: 0; top: 0; width: 32px; text-align: center;}


div.map {
  &.location {
    position: absolute; height: 22px; width: 22px; padding: 2px; border-radius: 3px; border: 1px solid #975847; background: #e08761; z-index: 20; transition: background 0.2s ease, border 0.2s ease;
    &:not(.active):not(.unreachable) {cursor: pointer;}

    &.mapflag_open {background: #ff9f68}
    &.mapflag_viewpoint {background: #cdff92; border: 1px solid #97c669}
    &.mapflag_doorway {background: #f2ff9a; border: 1px solid #bdc66b}
    &.mapflag_hideout {background: #fad5ff; border: 1px solid #d8a6dc}
    &.mapflag_siege {outline: 2px solid #FF0000};

    &.active, &:not(.unreachable):hover {border: 1px solid #39ACE5; background: #69e7ff;}
    &.unreachable:hover {border: 1px solid #e35539; background: #ff846b;}

    &.travel {border: 1px solid #39ACE5; background: #dcfcff;}
    &.untravel {border: 1px solid #E3573B; background: #ffe3de;}
  }

  &.panel {
    .flatbox;
    img + * {margin-left: 3px;}
  }
}

div.lomap {
  border-radius: 10px; position: relative; overflow: hidden; border: 2px solid @locationbox-inside-color-head;
  >canvas {position: absolute; height: 100%; width: 100%; top: 0; left: 0}
  >.navbtn {
    background: none; position: absolute; cursor: pointer;
    &::before {color: @zv-color-main; position: absolute; height: 16px; width: 16px; left: ~"calc(50% - 8px)"; top: ~"calc(50% - 8px)"; font-family: FontAwesome; content: "\f054";}
    &.nav-left::before {transform: rotate(180deg);}
    &.nav-right::before {transform: rotate(0deg);}
    &.nav-top::before {transform: rotate(270deg);}
    &.nav-bottom::before {transform: rotate(90deg);}
    &:hover {text-shadow: 0 0 3px @zv-color-main-dark;}
  }
  >.nav-center {
    position: absolute;
    >.navbtn {
      margin-bottom: 2px; position: relative; display: block; font-family: "Exo 2",sans-serif; font-variant: small-caps; font-size: 12px; border: 1px solid @zv-color-main; background: fade(@zv-color-main, 30%); padding: 1px 1px 1px 24px; cursor: pointer;
      &::before {font-family: FontAwesome; content: "\f054"; position: absolute; left: 2px; top: 3px;}
      &:hover {background: fade(@zv-color-main, 50%);}
    }
  }
}