@import (once) "../zombvival";

canvas.map {position: absolute; top: 0; left: 0; bottom: 0; right: 0;}

div.map-header {position: absolute; left: 0; top: 20px; width: 100%; text-align: center; pointer-events: none; opacity: 0.3; font-variant: small-caps; font-size: 36px;}
div.map-close {position: absolute; right: 0; top: 0; width: 32px; text-align: center;}

@map_panel_color: black;
@map_panel_text: white;
@map_panel_border: 1px solid fade(@map_panel_color, 60%);

div.map.panel {
  position: absolute; background: fade(@map_panel_color, 50%); box-shadow: 0 0 8px fade(@map_panel_color, 40%);
  background: linear-gradient(to bottom, fade(@map_panel_color, 50%) 0%,fade(@map_panel_color, 60%) 100%); transition: all 0.4s;
  h3 {.center; margin: 2px; padding: 0}
  img + * {margin-left: 3px;}

  &.hide {opacity: 0; .no-interaction}

  ul {margin: 0; padding-left: 16px}

  &:not(.manual-color), &.manual-color .auto-color  {color: @map_panel_text;}

  &.bottom {bottom: 0; left: 32%; right: 32%; &.wide {left: 0; right: 0;} &.hide {bottom: -50px} .incomplete-border-definition(@map_panel_border, true, true, false, true);}
  &.top {top: 0; left: 32%; right: 32%; text-align: center; &.wide {left: 0; right: 0;} &.hide {top: -50px} .incomplete-border-definition(@map_panel_border, true, true, true, true);}
  &.left {bottom: 0; top: 30px; left: 0; width: 30%; &.wide {width: 50%; min-width: 320px} &.hide {left: -50px} .incomplete-border-definition(@map_panel_border, true, false, true, true);}
  &.right {bottom: 0; top: 30px; right: 0; width: 30%; &.wide {width: 50%; min-width: 320px} &.hide {right: -50px} .incomplete-border-definition(@map_panel_border, true, true, true, false);}
  &.left-top {height: 24px; top: 0; left: 0; width: 30%; &.wide {width: 50%; min-width: 320px} &.hide {left: -50px} .incomplete-border-definition(@map_panel_border, true, false, true, true);}
  &.right-top {height: 24px; top: 0; right: 0; width: 30%; &.wide {width: 50%; min-width: 320px} &.hide {right: -50px} .incomplete-border-definition(@map_panel_border, true, true, true, false);}

  &.left-top, &.right-top {.fa {font-size: 20px; padding-left: 5px; padding-right: 5px;}}

  .panelbtn {
    height: 64px; font-size: 48px;
    &:hover {color: @zv-background-color}
  }
}

div.lomap {
  border-radius: 10px; position: relative; overflow: hidden; border: 2px solid @locationbox-inside-color-head;
  >canvas {position: absolute; height: 100%; width: 100%; top: 0; left: 0}
  >.navbtn {
    background: none; position: absolute; cursor: pointer;
    &::before {color: @zv-color-main; position: absolute; height: 16px; width: 16px; left: ~"calc(50% - 8px)"; top: ~"calc(50% - 8px)"; font-family: FontAwesome; content: "\f054";}
    &.nav-left::before {transform: rotate(180deg);}
    &.nav-right::before {transform: rotate(0deg);}
    &.nav-top::before {transform: rotate(270deg);}
    &.nav-bottom::before {transform: rotate(90deg);}
    &:hover {text-shadow: 0 0 3px @zv-color-main-dark;}
  }
  >.nav-center {
    position: absolute;
    >.navbtn {
      margin-bottom: 2px; position: relative; display: block; font-family: "Exo 2",sans-serif; font-variant: small-caps; font-size: 12px; border: 1px solid @zv-color-main; background: fade(@zv-color-main, 30%); padding: 1px 1px 1px 24px; cursor: pointer;
      &::before {font-family: FontAwesome; content: "\f054"; position: absolute; left: 2px; top: 3px;}
      &:hover {background: fade(@zv-color-main, 50%);}
    }
  }
}