@import (once) "zombvival";

.border-shadow-fade-bottom(@height, @color: black, @strength: 0.75, @z-index: 1) {
  overflow: hidden; position: relative;
  &::before {position: absolute; height: 1px; width: 100%; left: 0; bottom: -1px; content: " "; box-shadow: 0 0 @height @height/2 @color; opacity: @strength; z-index: @z-index}
}

iframe {border: 0 none white}

.incomplete-border-definition(@definition, @top: false, @left: false, @bottom: @top, @right: @left) when (@top = true)    {border-top: @definition};
.incomplete-border-definition(@definition, @top: false, @left: false, @bottom: @top, @right: @left) when (@left = true)   {border-left: @definition};
.incomplete-border-definition(@definition, @top: false, @left: false, @bottom: @top, @right: @left) when (@bottom = true) {border-bottom: @definition};
.incomplete-border-definition(@definition, @top: false, @left: false, @bottom: @top, @right: @left) when (@right = true)  {border-right: @definition};

.small {font-size: 12px;}
.noclick {-webkit-touch-callout: none;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;cursor: default;}
.hidden {display: none;}
.disabled,*[disabled] {pointer-events: none; cursor: default;}
.pointer {cursor: pointer;}
.link {text-decoration: underline; color: @zv-color-main; cursor: pointer;}
.center {text-align: center;}
.left {text-align: left;}
.right {text-align: right;}
.justify {text-align: justify;}
.resize-v {resize: vertical;}
.resize-h {resize: horizontal;}
.resize-hv, .resize-vh, .resize-both, .resize, .resize-h.resize-v {resize: both;}
.resize-none {resize: none;}
.b {font-weight: bold}
.margin {margin: 3px;}
.margin-left {margin-left: 5px;}
.margin-right {margin-right: 5px;}
.margin-top {margin-top: 5px;}
.margin-bottom {margin-bottom: 5px;}
.inline-block {display: inline-block}

.bg-red {background: #710800 !important; color: white !important;}

.sleep-animation {
  height: 64px;
  width: 64px;
  background: url('media/img/z-sleep.png') no-repeat;
  position: absolute;
}

.framed {
  border: 6px solid @zv-color-main-dark; box-shadow: 0 0 5px black, inset 0 0 5px black;border-radius: 5px; position: relative;
  &::after {position: absolute; top: 0; left: 0; height: 100%; width: 100%; content: " "; background: none; border: 1px solid rgba(0,0,0,0.3);}
  &.cream {border: 6px solid @zv-color-secondary;}
  &.main {border: 6px solid @zv-color-main;}

  &.mini {border-width: 2px}
}

.text-red {color: #913d40}
.text-green {color: #005d0f}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img.avatar, img#avatar {
  background: black; max-width: 100px; max-height: 100px;
  &.mini {max-width: 50px; max-height: 50px;}
  &.tiny {max-width: 25px; max-height: 25px;}
  &.mini.tiny {max-width: 16px; max-height: 16px;}
}

.text-stroke(@size, @color) {text-shadow: -@size -@size 0 @color, @size -@size 0 @color, -@size @size 0 @color, @size @size 0 @color}