@import (once) "../zombvival";

.no-select {-webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}

iframe {border: 0 none white}

#content > h1:first-child {
  font-family: 'Exo 2', sans-serif; margin: 0 0 10px 0; padding: 5px 0 5px 40px; background: @zv-color-main; background: linear-gradient(to right, @zv-color-main 0%, @zv-color-main-light 100%);
  color: @zv-color-secondary; text-shadow: 0 1px 0 @zv-color-main-light, 0 -1px 0 @zv-color-main-light, 1px 0 0 @zv-color-main-light, -1px 0 0 @zv-color-main-light, 1px 1px 0 @zv-color-main-light, -1px -1px 0 @zv-color-main-light, -1px 1px 0 @zv-color-main-light, 1px -1px 0 @zv-color-main-light;
  .no-select; cursor: default;

  >.fa {margin-right: 16px;}
  &::after {display: block;  width: 910px; height: 5px; position: relative; top: 5px; left: -45px; background-color: @zv-color-main; content: " "; box-shadow: 0 0 2px black;}
}

@zv-subheader-color: @zv-color-main-light;

h2 {
  margin: 5px 0 10px 4px; color: @zv-subheader-color; text-shadow: 0 0 3px rgba(0,0,0,0.4);
  &:first-child {margin-top: 0;}
}

@breadcrumbs-background: #ffbda1;
@breadcrumbs-border: darken(@breadcrumbs-background, 10%);
@breadcrumbs-shine: lighten(@breadcrumbs-background, 30%);
@breadcrumbs-hover: white;
@breadcrumbs-text-color: @zv-font-color;
@breadcrumbs-symbol-color: white;

ul.breadcrumbs {
  margin: 0;  padding: 0; background: @breadcrumbs-background; border: 1px solid @breadcrumbs-border; min-height: 33px;
  box-shadow: 0 0 1px 1px @breadcrumbs-shine inset; font-family: "Exo 2",sans-serif;

  &:empty {opacity: 0;}

  &>li {
    padding: 4px; display: inline-block; border: 1px solid rgba(255,255,255,0); position: relative; cursor: pointer; color: @breadcrumbs-text-color;

    &:first-child {cursor: default;}
    &:not(:first-child):hover {border: 1px solid fade(@breadcrumbs-hover, 30%); background: fade(@breadcrumbs-hover, 20%); box-shadow: 0 0 1px 1px fade(@breadcrumbs-hover, 20%) inset;}

    &+li {
      margin-left: 16px; padding-left: -8px;

      &::before {
        position: absolute; left: -14px; font-family: FontAwesome; content: "\f101"; pointer-events: none; font-size: 20px;
        color: @breadcrumbs-symbol-color; text-shadow: 0 0 3px black;
      }
    }
  }
}

.border-shadow-fade-bottom(@height, @color: black, @strength: 0.75, @z-index: 1) {
  overflow: hidden; position: relative;
  &::before {position: absolute; height: 1px; width: 100%; left: 0; bottom: -1px; content: " "; box-shadow: 0 0 @height @height/2 @color; opacity: @strength; z-index: @z-index}
}

iframe {border: 0 none white}

.incomplete-border-definition(@definition, @top: false, @left: false, @bottom: @top, @right: @left) when (@top = true)    {border-top: @definition};
.incomplete-border-definition(@definition, @top: false, @left: false, @bottom: @top, @right: @left) when (@left = true)   {border-left: @definition};
.incomplete-border-definition(@definition, @top: false, @left: false, @bottom: @top, @right: @left) when (@bottom = true) {border-bottom: @definition};
.incomplete-border-definition(@definition, @top: false, @left: false, @bottom: @top, @right: @left) when (@right = true)  {border-right: @definition};

.small {font-size: 12px;}
.noclick {-webkit-touch-callout: none;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;cursor: default;}
.no-interaction {pointer-events: none;}
.hidden {display: none;}
.disabled,*[disabled] {.no-interaction; cursor: default;}
.pointer {cursor: pointer;}
.link {text-decoration: underline; color: @zv-color-main; cursor: pointer;}
.center {text-align: center;}
.left {text-align: left;}
.right {text-align: right;}
.justify {text-align: justify;}
.resize-v {resize: vertical;}
.resize-h {resize: horizontal;}
.resize-hv, .resize-vh, .resize-both, .resize, .resize-h.resize-v {resize: both;}
.resize-none {resize: none;}
.b {font-weight: bold}
.margin {margin: 3px;}
.margin-left {margin-left: 5px;}
.margin-right {margin-right: 5px;}
.margin-top {margin-top: 5px;}
.margin-bottom {margin-bottom: 5px;}
.inline-block {display: inline-block}

.bg-red {background: #710800 !important; color: white !important;}
.text-red {color: #913d40}
.text-green {color: #005d0f}
.text-stroke(@size, @color) {text-shadow: -@size -@size 0 @color, @size -@size 0 @color, -@size @size 0 @color, @size @size 0 @color}