@import (once) "zombvival";

.border-shadow-fade-bottom(@height, @color: black, @strength: 0.75, @z-index: 1) {
  overflow: hidden; position: relative;
  &::before {position: absolute; height: 1px; width: 100%; left: 0; bottom: -1px; content: " "; box-shadow: 0 0 @height @height/2 @color; opacity: @strength; z-index: @z-index}
}

.incomplete-border-definition(@definition, @top: false, @left: false, @bottom: @top, @right: @left) when (@top = true)    {border-top: @definition};
.incomplete-border-definition(@definition, @top: false, @left: false, @bottom: @top, @right: @left) when (@left = true)   {border-left: @definition};
.incomplete-border-definition(@definition, @top: false, @left: false, @bottom: @top, @right: @left) when (@bottom = true) {border-bottom: @definition};
.incomplete-border-definition(@definition, @top: false, @left: false, @bottom: @top, @right: @left) when (@right = true)  {border-right: @definition};

.small {font-size: 12px;}
.noclick {-webkit-touch-callout: none;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;cursor: default;}
.hidden {display: none;}
.disabled,*[disabled] {pointer-events: none; cursor: default;}
.pointer {cursor: pointer;}
.link {text-decoration: underline; color: @zv-color-main; cursor: pointer;}
.center {text-align: center;}
.left {text-align: left;}
.right {text-align: right;}
.justify {text-align: justify;}
.resize-v {resize: vertical;}
.resize-h {resize: horizontal;}
.resize-hv, .resize-vh, .resize-both, .resize, .resize-h.resize-v {resize: both;}
.resize-none {resize: none;}
.b {font-weight: bold}
.margin {margin: 3px;}

.sleep-animation {
  height: 64px;
  width: 64px;
  background: url('media/img/z-sleep.png') no-repeat;
  position: absolute;
}

.text-red {color: #913d40}
.text-green {color: #005d0f}