@import (once) "../zombvival";

.progress(@bg-color, @bar-color, @height: 9px, @shadow: 0 0 3px 1px fade(@bar-color,80%)) {
  width: 100%;
  height: 9px;
  background: @bg-color;
  overflow: visible;
  >div {
    background: @bar-color;
    border: 1px solid darken(@bar-color, 10%);
    height: 100%;
    box-shadow: @shadow;
  }
}

@weight-bg: #f0ceb6;
@weight-color: #b05f05;

@discovery-bg: #dbdbdb;
@discovery-color: #ffd600;
@spawn-bg: #dbdbdb;
@spawn-color: #00d6ff;

@var-bg: rgba(0,0,0,0.2);

.discoverybar {.progress(@discovery-bg, @discovery-color)}
.spawnbar {.progress(@spawn-bg, @spawn-color)}
.weightbar {.progress(@weight-bg, @weight-color)}
.car-weightbar {.progress(fade(#000000, 30%), @weight-color, 8px, @shadow: 0 0 3px 1px fade(@weight-color,30%))}

.varbar {.progress(@var-bg, black, 4px, 0 0 2px rgba(0,0,0,0.5))}

@soulbar-color: #f3d600;
@karmabar-green-color: #a1ff00;
@karmabar-red-color: #ff3f00;

.soulpointbar {.progress(@zv-color-main-dark,@soulbar-color)}
.karmabar.good {.progress(@zv-color-main-dark,@karmabar-green-color)}
.karmabar.bad {.progress(@zv-color-main-dark,@karmabar-red-color)}

@gardenbar-green-color: #63d100;
@gardenbar-blue-color: #00d1c7;
@gardenbar-brown-color: #ce8927;
@gardenbar-pink-color: #ce717c;
@gardenbar-red-color: #ff3f00;

.gardenbar.quality {.progress(@zv-color-main-dark,@gardenbar-green-color)}
.gardenbar.water {.progress(@zv-color-main-dark,@gardenbar-blue-color)}
.gardenbar.water.dry {.progress(@zv-color-main-dark,@gardenbar-red-color)}
.gardenbar.growth {.progress(@zv-color-main-dark,@gardenbar-brown-color)}
.gardenbar.fertilizer {.progress(@zv-color-main-dark,@gardenbar-pink-color)}

@genbar-blue: #00d1c7;
@genbar-green: #a1ff00;
@genbar-yellow: #fff200;
@genbar-orange: #eda303;
@genbar-red: #ff3f00;

.generic_bar(@bg) {.progress(rgba(0,0,0,0.3), @bg)}

.genbar.blue {.generic_bar(@genbar-blue)}
.genbar.green {.generic_bar(@genbar-green)}
.genbar.yellow {.generic_bar(@genbar-yellow)}
.genbar.orange {.generic_bar(@genbar-orange)}
.genbar.red {.generic_bar(@genbar-red)}