@import (once) "../zombvival";

@zv-rpg-plus: #97c669;
@zv-rpg-null: #e6e6e6;
@zv-rpg-minus: #ff9f68;

.rpg {
  &.stat {
    box-shadow: 0 0 2px black; padding: 12px 2px 2px; position: relative; font-weight: bold; text-align: center;

    &::before {
      display: block; position: absolute; top: 0; left: 4px; right: 4px; font-size: 10px; font-weight: normal;
    }

    >span {margin-left: 4px; opacity: 0.7; font-weight: normal; font-size: 11px;}

    &.ini::before {content: "INI"}
    &.atk::before {content: "ATK"}
    &.def::before {content: "DEF"}
    &.acc::before {content: "ACC"}

    &.plus {border: 2px solid darken(@zv-rpg-plus, 10%); background: @zv-rpg-plus;}
    &.null {border: 2px solid darken(@zv-rpg-null, 10%); background: @zv-rpg-null;}
    &.minus {border: 2px solid darken(@zv-rpg-minus, 10%); background: @zv-rpg-minus;}
  }

  &.statbar {
    width: 100%; position: relative; line-height: 0;
    >div.barcontainer {
      position: relative; height: 17px;
      >.block {
        display: inline-block; height: 17px; text-align: center; overflow: hidden; position: relative;
        >img {margin-top: 1px;}
        &::before {position: absolute; display: block; top: 0; left: 0; width: 100%; height: 100%; box-shadow: 0 0 2px black; content: " "}
      }
      &.plus >.block {background: @zv-rpg-plus; &::before {border: 1px solid darken(@zv-rpg-plus, 25%); }}
      &.minus >.block {background: @zv-rpg-minus; &::before {border: 1px solid darken(@zv-rpg-minus, 25%); }}
    }

    >div.scalegrid {
      position: absolute; top: 0; left: 0; width: 100%; height: 100%; outline: 2px solid black; opacity: 0.1; pointer-events: none; line-height: 0;
      >div {
        display: inline-block; height: 50%; outline: 1px solid black;
        &.st_pre, &.st_post {background: rgba(0,0,0,0.8)}
      }
    }
  }
}

